<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Backbone Tryout">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Backbone Tryout</title>
</head>
<body>
  <div id="app-container">
    <div id="addressContainer"></div>
  </div>
  
  <script type="text/html" id="my-view-template">
    <div class="row">
      <label>First Name:</label>
      <span><%= firstName %></span>
    </div>
    <div class="row">
      <label>Last Name:</label>
      <span><%= lastName %></span>
    </div>
    <div class="row">
      <label>Email:</label>
      <span><%= email %></span>
    </div>
  </script>

  <script type="text/html" id="my-address-template">
    <div class="row">
      <label>Street:</label>
      <span><%= street %></span>
    </div>
    <div class="row">
      <label>City:</label>
      <span><%= city %></span>
    </div>
  </script>

  <script id="layout-view-template" type="text/template">
    <section>
      <navigation id="address"></navigation>
      <ul id="content"></ul>
    </section>
  </script>

  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.5/backbone.marionette.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.radio/1.0.4/backbone.radio.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script> -->

  <script src="Models/Person.js" type="text/javascript"></script>
  <script src="Models/Address.js" type="text/javascript"></script>
  <script src="Collections/People.js" type="text/javascript"></script>
  <script src="Behaviors/DestroyWarn.js" type="text/javascript"></script>
  <script src="Views/AddressItemView.js" type="text/javascript"></script>
  <script src="Views/PersonItemView.js" type="text/javascript"></script>
  <script src="Views/PeopleCollectionView.js" type="text/javascript"></script>
  <script src="Views/AppLayoutView.js" type="text/javascript"></script>
  <script src="scripts.js" type="text/javascript"></script>
</body>
</html>